body{
    margin:0;
    padding: 0;
    background-color: #1b143f;
}

header{
    height: 100px;
}

section{
    background-image:url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 100vh;
}

footer{
    height: 250px;
    background-color: #271d4c;
}

/* Ecris en dessous */

/* --------------------------------------RESPONSIVE-------------------------------------- */

@media screen and (min-width: 1200px){
    h1:after{
        content: "COLIN CALBET";
    }
    #logo:after{
        content: url('../Logo_Responsive/Logodesktop.png');
    }
}

@media screen and (max-width: 1200px){
    h1:after{
        content: "C CALBET";
    }
    #logo{
        content: url('../Logo_Responsive/Logotablette.png');
    }
}

@media screen and (max-width: 800px){
    h1:after{
        content: "C C";
    }
    #logo{
        content: url('../Logo_Responsive/Logophone.png');
    }
    #grid{
        visibility: hidden;
    }
    .violet1
    {
        visibility: visible;
    }
}

/* --------------------------------------ANIMATION-------------------------------------- */

@keyframes turnover{

    100%{
        transform: rotate(360deg);
    }
}

h1{
    word-spacing: 100%;
    background-color: #271d4c;
    color: white;
    text-shadow: 10px 5px 5px black;
    text-align: center;
    font-family: 'Arial Narrow';
}

div:nth-child(2){
    text-align: center;
}

#fusee:hover{
    animation: turnover 0.5s;
}

/* --------------------------------------ALIENS-------------------------------------- */

#grid{
    width: 500px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin: auto;
}

#grid>*{
    margin: auto;
}

.bleu1{
    grid-row: 1;
    grid-column: 1;
}

.bleu2{
    grid-row: 1;
    grid-column: 3;
}

.bleu3{
    grid-row: 1;
    grid-column: 5;
}

.vert1{
    grid-row: 2;
    grid-column: 2;
}

.vert2{
    grid-row: 2;
    grid-column: 4;
}

.violet1{
    grid-row: 3;
    grid-column: 3;   
}

section p{
    height: 200px;
    width: 200px;
    background-color: #271d4c;
    margin-bottom: 500px;
    margin: auto;
}

footer{
    margin-top: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#linkedin{
    height: 80px;
    width: 80px;
}

#pdf{
    height: 80px;
    width: 80px;
}


